body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    background-color: teal;
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.nav li {
    display: inline block;
    padding: 20px;
}

.nav li a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 150px;
}

.card {
    width: 70%;
    margin: 20px auto;
    border: 3px solid teal;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
    display: grid;
}

#messagebox {
    margin: 15px;
    padding:10px;
    width: 200px;
    height: 50px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}